{% extends "base.html" %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/pin12.png') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About</h1>
                    <span class="subheading">Your Guide to the World of Competitive Pinball</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Welcome to Pinball Wizard's Corner, your ultimate destination for everything related to competitive pinball. As a passionate player and enthusiast, I've created this space to share insights, strategies, and stories from the vibrant world of pinball.</p>
                <p>From tournament coverage to technical analysis of classic machines, our goal is to provide valuable content for both newcomers and veteran players alike. We believe that pinball is more than just a game – it's a combination of skill, strategy, and artistry that deserves to be celebrated.</p>
                <p>Whether you're looking to improve your game, stay updated on tournament schedules, or simply share in the joy of this amazing sport, you've come to the right place. Join us in exploring the exciting world of competitive pinball!</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
